<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="index">
    <h1>这里是首页</h1>
    <img src="" alt="">
    <ul>
        {% for book in books %}
        {# <a href="/detail/{{book.id}}/"><li>{{book.id}}--{{book.title}}--{{book.price}}--{{book.pub_date}}</li></a> #}
            <li>
                <a href="{% url 'booktest:detail' book.id %}">{{book.id}}--{{book.title}}--{{book.price}}--{{book.pub_date}}</a>
                <a href="{% url 'booktest:editbook' book.id %}">编辑</a>
                <a href="{% url 'booktest:deletebook' book.id %}">删除</a>

            </li>
        {% endfor %}

        <a href="{% url 'booktest:addbook' %}">添加书籍</a>
    </ul>

</body>
</html>